.wrapper {
  bottom: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 90% 10%;
  position: fixed;
  top: 0;
  width: 100%;
}

.question {
  align-content: center;
  display: inherit;
  padding: 1em;
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}

.buttons {
  display: fixed;
  width: 100vw;
}
.buttons button {
  height: 100%;
  width: 50vw;

  background: #3333330a;
  border: 0px solid #333;

  transition: all 0.1s ease-in-out;
}
.buttons button:not(:disabled):hover {
  background: #3333331f;
}
.buttons button:not(:disabled):active {
  background: #3333332f;
}
.buttons button:disabled {
  background: #33333303;
  opacity: 0.5;
}
