html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #222;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

legend {
  width: 100%;
}

h1 {
  margin: 0;
}

h1,
h2,
h3 {
  text-align: center;
}

fieldset h1,
h2 {
  font-size: 1.5em;
  font-weight: 400;
  margin-bottom: 0.5em;
}

h1.alignLeft {
  /* Padding keeps header in line with input text */
  padding-left: 1rem;
  text-align: left;
  width: 100%;
}

.invisibleA11yLabel {
  display: inline-block;
  height: 0;
  overflow: hidden;
  width: 0;
}

.container {
  align-items: center;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  overflow: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
