.large {
  font-size: 128px;
}

.wrapper {
  align-items: center;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

.output {
  display: none;
  visibility: hidden;
}

.invisiblea11ylabel {
  display: inline-block;
  height: 0;
  overflow: hidden;
  width: 0;
}