.hidden {
  display: none;
}

.star {
  height: 45px;
  width: 45px;
  overflow: unset;
  margin-right: 15px;
  color: #8C8C8C;
  transition: color 0.15s ease-in-out;
}
.star:hover {
  cursor: pointer;
  color: #666666
}

.selected {
  color: #ffda1f;
}
.selected:hover {
  color: #ffb300;
}

.input:focus + label path {
  outline: 1px solid blue;
}

.container {
  margin-top: 1.25em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
