.hidden {
  display: none;
}

.star {
  height: 45px;
  width: 45px;
  overflow: unset;
  margin-right: 15px;
}
.star:hover {
  cursor: pointer;
}

.input:focus + label path {
  outline: 1px solid blue;
}

.container {
  margin-top: 1.25em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
