.textbox {
  background: #eaeaeacc;
  border-radius: 1em;
  border: none;
  border: solid 3px transparent;
  box-sizing: border-box;
  color: #333;
  font-family: inherit;
  font-size: 2em;
  height: 100%;
  max-width: 860px;
  min-height: 300px;
  padding: 1em;
  resize: none;
  transition: all 0.2s ease-in-out;
  width: 100%;
}
.textbox:hover :not(.disabled) {
  background: #dadadadd;
}
.textbox:focus {
  background: #fafafadd;
  border: 3px solid #333;
  outline: none;
}
.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
  font-size: 20px;
  border: none;
  overflow: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
